mat-toolbar {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 2;
}

mat-toolbar a {
  text-decoration: none;
  color: inherit;
}

mat-card {
  width: 270px;
  margin: 20px auto;
}

mat-form-field {
  width: 270px;
}
