.page-container {
  padding: 0rem 1rem 0.2rem 1rem;
  margin-bottom: 64px;
}

.top-banner {
  height: 7rem;
  background: #ffffff;
  display: flex;
  margin-bottom: 1rem;
}

.center {
  width: 100%;
  max-width: 490px;
  margin-left: auto;
  margin-right: auto;
}

mat-card {
  margin-bottom: 1rem;
}

mat-form-field {
  width: 100%;
}

.cart-item-details {
  display: flex;
  padding: 1rem 0rem;
}

.cart-item-details img {
  max-width: 64px;
  max-height: 64px;
  border-radius: 5px;
}

.details-group {
  display: flex;
  flex-direction: column;
  margin-left: 0.8rem;
}

.item-name {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 0.2rem;
}

.option {
  color: #757575;
  font-size: 15px;
}

.price-group {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 0.5rem;
}

.quantity {
  font-size: 0.9rem;
  background-color: #673ab7;
  color: white;
  border-radius: 16px;
  padding: 5px 10px;
}

.price {
  margin-top: auto;
  font-size: 1.1rem;
  font-weight: 500;
}

.bottom-bar {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 64px;
  background: #ffffff;
}

.bottom-group {
  display: flex;
  align-items: center;
}
.total {
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 1rem;
}
.place-order-btn {
  margin: 1rem 1rem 1rem auto;
}
