<div class="page-container">
  
  <h1>What's happening</h1>
  <mat-carousel
    timings="250ms ease-in"
    [autoplay]="true"
    interval="5000"
    color="accent"
    maxWidth="auto"
    proportion="25"
    slides="5"
    [loop]="true"
    [hideArrows]="false"
    [hideIndicators]="false"
    [useKeyboard]="true"
    [useMouseWheel]="false"
    orientation="ltr"
  >
    <mat-carousel-slide
      #matCarouselSlide
      *ngFor="let slide of slides"
      [image]="slide.url"
      overlayColor="#00000010"
      [hideOverlay]="false"
    ></mat-carousel-slide>
  </mat-carousel>
  
  
  <h1>Browse your Outlet</h1>
  <div class="outlet-grid">
    <mat-card class="outlet-card">
      <mat-card-header>
        <mat-card-title>KOI Thé Novena Square</mat-card-title>
        <mat-card-subtitle>This is a static card</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://d1sag4ddilekf6.cloudfront.net/compressed/merchants/4-CYXHC8ACMAJHL6/hero/a3bf1cae2d904f59ade999b5506589b8_1574426083675315081.jpeg"
        alt="koi image"
        draggable="false"
      />
      <mat-card-footer>
        <mat-icon color="accent">star</mat-icon>
        <span class="rating-text">4.8</span>
        <mat-chip-list class="open-chip">
          <mat-chip color="primary" selected>Open</mat-chip>
        </mat-chip-list>
      </mat-card-footer>
    </mat-card>

    <a
      class="card-container"
      *ngFor="let outlet of outlets"
      [routerLink]="outlet.open ? ['listings', outlet.outletId] : null"
      [state]="{ outlet: outlet }"
    >
      <mat-card class="outlet-card" routerLinkActive="disabled-card">
        <mat-card-header>
          <mat-card-title>{{ outlet.outletName }}</mat-card-title>
          <mat-card-subtitle
            >This part to be decided how it works</mat-card-subtitle
          >
        </mat-card-header>
        <img
          mat-card-image
          src="/images/{{ outlet.imageSrc }}"
          alt="outlet-image"
          draggable="false"
        />
        <mat-card-content>
          <mat-icon color="accent">star</mat-icon>
          <span class="rating-text">{{ outlet.outletRating }}</span>
          <mat-chip-list class="open-chip">
            <mat-chip [color]="outlet.open ? 'primary' : 'warn'" selected>{{
              outlet.open ? 'Open' : ' Closed'
            }}</mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>
    </a>
  </div>
</div>
