<div class="page-container">
  <div class="center">
    <h2>Order {{ orderEntity.cancelled ? 'cancelled' : 'confirmed' }}!</h2>

    <mat-card>
      <mat-card-title style="font-size: 18px;"
        >Your order from {{ orderEntity.outlet.outletName }}</mat-card-title
      >
      <p>
        <strong>Status: </strong>
        <span
          class="status"
          [ngClass]="orderEntity.cancelled ? 'status-red' : 'status-green'"
          >{{ orderEntity.cancelled ? 'Cancelled' : 'Confirmed' }}</span
        >
      </p>
      <p><strong>Order ID: </strong>{{ orderEntity.orderId }}</p>
      <p>
        <strong>Transaction Date: </strong>
        {{ orderEntity.transactionDateTime | date: 'medium' }}
      </p>

      <!-- <mat-card class="mat-elevation-z3"> -->
      <p><strong>Items</strong></p>
      <div class="cart-list">
        <div
          class="cart-item"
          *ngFor="let item of orderEntity.orderLineItems; let i = index"
        >
          <div class="cart-item-details">
            <img
              *ngIf="item.listing.imageSrc"
              src="/images/{{ item.listing.imageSrc }}"
            />
            <img
              *ngIf="!item.listing.imageSrc"
              src="/images/defaultimage.jpg"
            />
            <div class="details-group">
              <span class="item-name">{{ item.listing.name }}</span>
              <span class="option" *ngFor="let option of item.itemOptions">{{
                option
              }}</span>
            </div>
            <div class="price-group">
              <span class="quantity">Qty: {{ item.quantity }}</span>
              <span class="price">{{ item.subTotal | currency: '':'' }}</span>
            </div>
          </div>
          <mat-divider></mat-divider>
        </div>
      </div>
      <!-- </mat-card> -->

      <div class="promo-group" style="display: flex;" *ngIf="selectedPromo">
        <span style="font-size: 18px;">Promo used:</span>
        <span class="promo-details" style="font-weight: 400;">
          {{ selectedPromo.promoCode }} | {{ selectedPromo.value | currency }}
        </span>
      </div>
      <div class="total-group">
        <span>Total:</span>
        <span class="total-price">
          {{ orderEntity.totalAmount | currency }}
        </span>
      </div>
      <div class="total-aft-promo-group">
        <span>Total after discount:</span>
        <span class="total-price">
          {{ orderEntity.totalAmountAftPromo | currency }}
        </span>
      </div>
      <div class="payment-group" style="display: flex;">
        <span style="font-size: 18px;">Payment by:</span>
        <span class="total-price">
          <span style="font-weight: 400;">Card ending with</span>
          {{ orderEntity.ccNum.slice(-4) }}
        </span>
      </div>

      <p>
        <span
          style="color: #ffffff; background-color: #43a047; padding: 2px 5px; border-radius: 3px;"
          >BBPoints</span
        >
        earned:
        <strong>
          {{ bbPointsEarned }}
        </strong>
      </p>

      <p style="font-size: 18px;">
        <strong>Delivery details</strong>
      </p>
      <p><strong>Address:</strong> {{ orderEntity.address }}</p>
      <p><strong>Address Details:</strong> {{ orderEntity.addressDetails }}</p>
      <p><strong>Notes:</strong> {{ orderEntity.deliveryNote }}</p>

      <div class="action-row" style="display: flex;">
        <button
          *ngIf="!orderEntity.cancelled"
          mat-stroked-button
          color="warn"
          (click)="cancelDialog()"
        >
          Cancel order
        </button>
        <button
          mat-raised-button
          color="primary"
          style="margin-left: auto;"
          routerLink="/main"
        >
          Home Page
        </button>
      </div>
    </mat-card>
  </div>
</div>
