<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    class="sidenav"
    fixedInViewport
    position="end"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  >
    <div class="sidenav-toolbar">
      <mat-toolbar class="mat-elevation-z3">Cart</mat-toolbar>
      <!-- <mat-divider style="background-color: #BDBDBD;"></mat-divider> -->
    </div>
    <app-cart></app-cart>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header-toolbar mat-elevation-z6">
      <a routerLink="/main"><span>graBBT</span></a>

      <button
        class="logout-button"
        mat-icon-button
        type="button"
        (click)="openBottomSheet()"
        matTooltip="Account actions"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
      <span class="mat-body-2">Hi, {{ name }}</span>

      &nbsp; &nbsp;
      <button
        class="promo-button"
        mat-icon-button
        type="button"
        (click)="redirectToPromo()"
      >
        <mat-icon>local_offer</mat-icon>
      </button>
      <span class="mat-body-2">Promos</span>

      <button
        *ngIf="displayCartButton()"
        class="cart-button"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="sidenav.toggle()"
      >
        <mat-icon
          aria-label="Side nav toggle icon"
          matBadge="{{ cart ? cart.totalLineItem : null }}"
          matBadgeColor="accent"
          >shopping_cart</mat-icon
        >
      </button>
    </mat-toolbar>
    <header></header>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
