<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    position="end"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  >
    <mat-toolbar>Cart</mat-toolbar>
    <h1>Cart goes here</h1>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header-toolbar mat-elevation-z6">
      
      <a routerLink="/landing"><span>graBBT</span></a>
      
      <button
        class="logout-button"
        mat-icon-button
        type="button"
        (click)="openBottomSheet()"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
      <span class="mat-body-2">Hi, {{ name }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
      
      <button
        routerLink="/main"
        mat-flat-button
        class="browse-bbt"
        type="button"
        color="accent"
      >
        Browse BBT
      </button>
     
      <button
        class="cart-button"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">shopping_cart</mat-icon>
      </button>
    </mat-toolbar>
    <header></header>

    <p>Router outlet here</p>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
