.page-container {
  padding: 2rem 2rem;
}

h1 {
  margin: 0;
}
.outlet-info {
  display: flex;
  margin-bottom: 0.5rem;
}

.outlet-group {
  display: flex;
  flex-direction: column;
}

.rating-group {
  display: flex;
  align-items: center;
}

.rating-text {
  margin-left: 3px;
}

iframe {
  margin-left: auto;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

.filter.mat-form-field.mat-form-field {
  font-size: 14px;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0px;
}

.sort-by {
  margin-left: auto;
}

.listing-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-gap: 1.5rem;
}

.listing-card {
  border: 1px solid transparent;
  max-width: 380px;
}

.listing-card:hover {
  border: 1px solid #4caf50;
  cursor: pointer;
}

.listing-card:hover .add-button {
  color: #7e57c2;
}

.card-content {
  display: flex;
}

.listing-card img {
  flex-shrink: 0;
  border-radius: 4px;
}

.name-group {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.mat-card-title {
  font-size: 20px;
  font-weight: 400;
}

.price-group {
  display: flex;
  margin-top: auto;
}
.price {
  font-weight: 500;
}

.add-button {
  margin-left: auto;
  color: transparent;
}
