.account-container {
  padding: 0rem 2rem;
}


.account-container button {
  margin-top: 1rem;
}

.errorText {
  color: red;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 200px;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  width: 100%;
}

.promo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 1rem;
}

.open-chip {
  margin-left: auto;
}

