<h1>Account Details</h1>
<div class="account-container" *ngIf="!editView">
    <mat-list role="list">
        <mat-list-item role="listitem">Name: {{currentCustomer.name}}</mat-list-item>
        <mat-list-item role="listitem">Username: {{currentCustomer.username}}</mat-list-item>
        <mat-list-item role="listitem">Phone Number: {{currentCustomer.phoneNumber}}</mat-list-item>
        <mat-list-item role="listitem">Address: {{currentCustomer.address}}</mat-list-item>
        <mat-list-item role="listitem">Email: {{currentCustomer.email}}</mat-list-item>
        
        <mat-list-item role="listitem">BB Points: {{currentCustomer.bbPoints}}</mat-list-item>


    </mat-list>
    <button mat-fab color="primary" (click)="editView = true">Edit</button>
</div>

<!--edit page-->
<form #updateAccountForm="ngForm" class="account-container" *ngIf="editView" novalidate (ngSubmit)="updateAccount(updateAccountForm)">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input id="name" name="name" #name="ngModel" [(ngModel)]="updateCustomer.name" matInput required="true">
        <div *ngIf="name.invalid && (name.dirty || name.touched || submitted)" class="errorText">
            <div *ngIf="name.errors.required">
                Name is required.
            </div>
        </div>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Phone number</mat-label>
        <input id="phoneNumber" name="phoneNumber" #phoneNumber="ngModel" [(ngModel)]="updateCustomer.phoneNumber" matInput required="true">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input id="address" name="address" #address="ngModel" [(ngModel)]="updateCustomer.address" matInput required="true">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input id="email" name="email" #email="ngModel" [(ngModel)]="updateCustomer.email" matInput required="true">
    </mat-form-field>
    <br>
    <span>
        <button mat-fab color="secondary" type="reset" (click)="cancel()">Cancel</button>&nbsp;
        <button mat-fab color="primary" type="submit">Update</button>
    </span>
</form>
