<div class="account-container" *ngIf="!editView">
  <h1>Account</h1>

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Account Details">
      <h2>My Account Details</h2>
      <mat-card style="max-width: 600px; margin-bottom: 10px;">
        <mat-list role="list">
          <mat-list-item role="listitem"
            ><strong>Name:</strong>&nbsp;
            {{ currentCustomer.name }}</mat-list-item
          >
          <mat-list-item role="listitem"
            ><strong>Username:</strong>&nbsp;
            {{ currentCustomer.username }}</mat-list-item
          >
          <mat-list-item role="listitem"
            ><strong>Phone Number:</strong>&nbsp;
            {{ currentCustomer.phoneNumber }}</mat-list-item
          >
          <mat-list-item role="listitem"
            ><strong>Address:</strong>&nbsp;
            {{ currentCustomer.address }}</mat-list-item
          >
          <mat-list-item role="listitem"
            ><strong>Email:</strong>&nbsp;
            {{ currentCustomer.email }}</mat-list-item
          >
          <mat-list-item role="listitem"
            ><strong>BB Points:</strong>&nbsp; {{ currentCustomer.bbPoints }} |
            tier:&nbsp;
            <span *ngIf="tier == 'BB-Green'" style="color: green">
              <i>{{ tier }}</i>
            </span>
            <span *ngIf="tier == 'BB-Silver'" style="color: darkgray">
              <i>{{ tier }}</i>
            </span>
            <span *ngIf="tier == 'BB-Gold'" style="color: goldenrod">
              <i>{{ tier }}</i> </span
            >&nbsp;
          </mat-list-item>
          <mat-list-item role="listitem">
            <mat-progress-bar
              mode="determinate"
              value="{{ currentCustomer.bbPoints }}"
            ></mat-progress-bar>
          </mat-list-item>

          <mat-list-item role="listitem">
            <button
              class="edit"
              mat-stroked-button
              color="primary"
              (click)="editView = true"
            >
              Edit
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </mat-tab>
    
    <mat-tab label="Wallet">
      <div style="margin-bottom: 5px;">
        <h2>My BB Points</h2>
        <div>
          <mat-progress-bar
            mode="determinate"
            value="{{ currentCustomer.bbPoints }}"
          ></mat-progress-bar>
          <br />
          <mat-card>
            <p>
              <strong>BB Points:</strong>&nbsp; {{ currentCustomer.bbPoints }}
            </p>
            <p>
              <strong>Tier:</strong>&nbsp;
              <span *ngIf="tier == 'BB-Green'" style="color: green">
                <i>{{ tier }}</i>
              </span>
              <span *ngIf="tier == 'BB-Silver'" style="color: darkgray">
                <i>{{ tier }}</i>
              </span>
              <span *ngIf="tier == 'BB-Gold'" style="color: goldenrod">
                <i>{{ tier }}</i> </span
              >&nbsp;
            </p>
            <p>{{ tierMessage }}</p>
          </mat-card>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div style="margin-bottom: 5px;">
        <div style="display: flex; align-items: center;">
          <h2>My Promos</h2>
          <button
            mat-stroked-button
            color="accent"
            style="margin-left: 1rem;"
            [routerLink]="['/main/promo']"
          >
            View available promos
          </button>
        </div>
        <p>{{ promoMessage }}</p>
        <div class="promo-grid">
          <mat-card *ngFor="let promo of walletPromos; let i = index">
            <mat-card-header>
              <mat-card-title>{{ promo.promoCode }}</mat-card-title>
              <mat-card-subtitle>SGD {{ promo.value }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-chip-list class="open-chip">
                <mat-chip
                  (click)="!usedStatus[i] ? useMe() : false"
                  [color]="usedStatus[i] ? 'warn' : 'primary'"
                  selected
                  >{{ usedStatus[i] ? 'Used' : 'Use Me!' }}</mat-chip
                >
              </mat-chip-list>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Orders">
      <div class="order-history">
        <h2>My Order History</h2>
        <mat-card class="mat-elevation-z2" style="margin-bottom: 10px;">
          <h3 *ngIf="orders && orders.length == 0">You have no orders</h3>
          <mat-nav-list style="background-color: white; padding-top: 0px;">
            <a
              [routerLink]="['/main/order-details', order.orderId]"
              mat-list-item
              *ngFor="let order of orders; let i = index; let last = last"
              style="display: flex; min-height: 60px; height: auto;"
            >
              <h4 style="flex: 2 1 0;">
                <b>Order from {{ outletNames[i] }}</b>
              </h4>
              <div class="status" *ngIf="order.cancelled">
                <p style="color:red">Cancelled</p>
              </div>

              <div class="status" *ngIf="!order.cancelled">
                <p style="color:#4CAF50">Confirmed</p>
              </div>

              <div style="flex: 2 1 0;">
                <p>{{ order.totalQuantity }} item(s) | {{ order.address }}</p>
              </div>

              <div style="flex: 1 1 0;">
                <p>{{ dates[i] }}</p>
              </div>
              <mat-icon class="material-icons-round">navigate_next</mat-icon>
              <mat-divider *ngIf="!last"></mat-divider>
            </a>
          </mat-nav-list>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<!--edit page-->
<form
  #updateAccountForm="ngForm"
  class="account-container"
  *ngIf="editView"
  novalidate
  (ngSubmit)="updateAccount(updateAccountForm)"
>
  <h1>Edit Account Details</h1>
  <mat-card>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input
        id="name"
        name="name"
        #name="ngModel"
        [(ngModel)]="updateCustomer.name"
        matInput
        required="true"
      />
      <div
        *ngIf="name.invalid && (name.dirty || name.touched || submitted)"
        class="errorText"
      >
        <div *ngIf="name.errors.required">
          Name is required.
        </div>
      </div>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Phone number</mat-label>
      <input
        id="phoneNumber"
        name="phoneNumber"
        #phoneNumber="ngModel"
        [(ngModel)]="updateCustomer.phoneNumber"
        matInput
        required="true"
      />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Address</mat-label>
      <input
        id="address"
        name="address"
        #address="ngModel"
        [(ngModel)]="updateCustomer.address"
        matInput
        required="true"
      />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        id="email"
        name="email"
        #email="ngModel"
        [(ngModel)]="updateCustomer.email"
        matInput
        required="true"
      />
    </mat-form-field>
    <br />
    <span>
      <button mat-fab color="secondary" type="reset" (click)="cancel()">
        Cancel</button
      >&nbsp;
      <button mat-fab color="primary" type="submit">Update</button>
    </span>
  </mat-card>
</form>
